.review_card {
  background: linear-gradient(
    135deg,
    rgba(249, 250, 251, 1) 20%,
    rgba(249, 250, 251, 1) 60%,
    rgba(224, 224, 224, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  .review_card__row {
    display: flex;
    .review_card__movieInfo {
      margin-right: 1rem;
    }
    .review_card__reviewInfo {
      font-family: "Reem Kufi", sans-serif;
      color: $cineH_black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 0.5rem;
      .review_card__user {
        display: flex;
        margin-bottom: 1rem;
        .review_card__user_name {
          font-size: 0.9rem;
          margin-left: 1rem;
          margin-right: 2rem;
          overflow: hidden;
          div:first-child {
            margin-bottom: 0.2rem;
          }
        }
      }
      .review_card__rate {
        justify-content: center;
        font-size: 2rem;
        i {
          color: #fac81a;
        }
      }

      .review_card__title {
        margin-top: 1rem;
        min-height: 4.8rem;
        min-width: 11rem;
        max-width: 11rem;
        display: flex;
      }
      .review_card__metadata {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .review_card__date {
          font-size: 0.5rem;
          font-weight: 400;
        }
        .review_card__like_it {
          i {
            color: #ca5b4c;
          }
        }
      }
    }
  }
}

.moviePoster_sm {
  width: 8rem;
  height: 11rem;
}

.videoartThumbnail_sm {
  width: 8rem;
  height: 11rem;
}

.user_avatar_sm {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  background-size: cover;
}
