.review_container {
  width: 90%;
}
.new_review,
.review {
  width: 100%;
}
.review_box {
  box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  width: 100%;
  background-color: $cineH_white;
  display: flex;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  margin-top: 1.5rem;

  .review_box__user_container {
    width: 16rem;
    padding: 1.5rem 0rem;
    border-right: 0.2rem solid #ca5b4c;
    font-family: "Reem Kufi", sans-serif;
    color: $cineH_black;

    .review_box__user {
      a {
        text-decoration: none;
        color: $cineH_black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        .review_box__user_name {
          font-size: 0.9rem;
          margin-left: 1rem;
          margin-right: 2rem;
          overflow: hidden;
          div:first-child {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .review_box__rate {
      justify-content: center;
      font-size: 2rem;
      i {
        color: #fac81a;
      }
    }
    .review_box__date {
      margin-top: 1rem;
      font-size: 0.8rem;
    }
  }

  .review_box__content_container {
    color: $cineH_black;
    width: 100%;
    height: 100%;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .review_title {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-family: "Reem Kufi", sans-serif;
      white-space: pre-wrap;
    }
    .review_content {
      line-height: 1.2rem;
      min-height: 5rem;
      margin-bottom: 1rem;
      white-space: pre-wrap;
    }
  }
}

.review_box__btn_container,
.review_detail_btns {
  display: flex;
  justify-content: space-between;

  .review_btns {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    button {
      border: none;
      width: 6rem;
      background-color: $cineH_black;
      color: white;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      font-family: "Reem Kufi", sans-serif;
      margin-right: 0.3rem;
      box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      .fa-edit {
        color: #aacccc;
      }
      .fa-trash-alt {
        color: #ca5b4c;
      }
    }
  }
  .review_like_it_btn {
    margin-right: 0.5rem;
    border: none;
    background-color: $cineH_white;
    cursor: pointer;
    display: flex;
    align-items: center;
    i {
      color: #ca5b4c;
      font-size: 1.2rem;
      margin-right: 0.2rem;
    }
    span {
      font-family: "Reem Kufi", sans-serif;
      color: $cineH_black;
      font-size: 1rem;
    }
  }
}

.review_detail_btns {
  margin-left: 2rem;
}

.user_avatar_medium {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1.6rem;
  background-size: cover;
}
