#review_form {
  width: 100%;
  font-family: "Reem Kufi", sans-serif;
  color: $cineH_black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .review_writer {
    margin-bottom: 1rem;
  }
  .write_btn {
    width: 42rem;
    display: flex;
    justify-content: flex-end;
  }
  button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: $cineH_black;
    font-family: "Reem Kufi", sans-serif;
    color: $cineH_white;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  }
}

.review_title {
  margin-top: 1rem;
}

.review_rating_label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  span {
    text-align: center;
    width: 42rem;
  }
}

.review_rating_field {
  width: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review__score {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.review_stars_slider {
  display: flex;
  justify-content: center;
  .empty_stars {
    position: relative;
    font-size: 2.5rem;
    color: #b2bec2;
    .full_stars {
      position: absolute;
      width: 0;
      left: 0;
      overflow: hidden;
      font-size: 2.5rem;
      color: #fac81a;
      pointer-events: none;
    }
    #review_rate {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: -0.2rem;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.review_title_field,
.review_content_field {
  display: flex;
  flex-direction: column;
  input,
  textarea {
    width: 40rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
    border-radius: 0.7rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .review_title_field {
    margin-top: 1rem;
  }
  .review_title_field,
  .review_content_field {
    width: 70%;
    align-items: center;
    label {
      width: 110%;
      text-align: start;
    }
    input,
    textarea {
      width: 100%;
    }
  }
  #review_form {
    .write_btn {
      justify-content: center;
      width: 90%;
    }
  }
}
