[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.5"
pillow = "*"
flake8 = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
django-inlinecss = "*"
pipenv-to-requirements = "*"
sentry-sdk = "*"

[dev-packages]
flake8 = "*"
black = "*"
awsebcli = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
