#delete-account_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

#delete-account_title {
  width: 28rem;
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  div {
    background: $title_background;
    height: 1.2rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    h1 {
      font-family: "Reem Kufi", sans-serif;
      font-size: 2rem;
      position: relative;
      top: -1.2rem;
      font-weight: 600;
      color: $cineH_black;
    }
  }
}

.delete-account_form {
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  border: 0.4rem #aacccc solid;
  border-radius: 1rem;
  padding: 2rem;
  width: 23.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .delete-account_form_field {
    margin-bottom: 1.5rem;
    .delete-account_form_label {
      font-size: 1.5rem;
      font-family: "Reem Kufi", sans-serif;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    input {
      width: 18rem;
      height: 1.2rem;
      border-radius: 0.7rem;
      border: 0.1rem #c4c4c4 solid;
      outline: none;
      font-size: 1.1rem;
      padding: 0.5rem;
    }
  }

  .delete-account_form_field:nth-child(4) {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    .delete-account_form_label {
      padding-top: 0.5rem;
      font-size: 1rem;
      color: #ca5b4c;
    }
    input {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 0.7rem;
      border: 0.1rem #c4c4c4 solid;
      outline: none;
      font-size: 1.1rem;
    }
  }
  .delete-account_submit {
    display: flex;
    justify-content: center;
    button {
      background-color: #ca5b4c;
      color: white;
      border: none;
      padding: 0.5rem 2rem;
      font-size: 1.5rem;
      font-family: "Reem Kufi", sans-serif;
      border-radius: 0.7rem;
      width: 18rem;
      cursor: pointer;
    }
  }
}

#delete-account_advice {
  width: 21rem;
  font-size: 1.2rem;
  font-family: "Noto Sans Hanunoo", sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: $cineH_black;
  i {
    color: #e3c007;
  }
}
#delete-account_text {
  width: 20rem;
  border: 0.1rem #aacccc solid;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

.last-caution {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  i {
    color: #e3c007;
  }
}

@media screen and (max-width: 600px) {
  #delete-account_title {
    width: 90%;
    div {
      height: 0.6rem;
      h1 {
        font-size: 1rem;
        top: -0.6rem;
      }
    }
  }
  .delete-account_form {
    width: 90%;
    box-sizing: border-box;
    padding: 2rem 0rem;
    align-items: center;
    .delete-account_form_field {
      width: 80%;
      .delete-account_form_label {
        font-size: 1rem;
      }
      input {
        width: 90%;
      }
    }
    .delete-account_submit {
      button {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
  #delete-account_advice {
    width: 90%;
  }
  #delete-account_text {
    width: 80%;
  }
}
.last-caution {
  text-align: center;
}
