#login_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_title {
  width: 28rem;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  div {
    background: $title_background;
    height: 1.2rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    h1 {
      font-family: "Reem Kufi", sans-serif;
      font-size: 2rem;
      position: relative;
      top: -1.2rem;
      font-weight: 600;
      color: $cineH_black;
    }
  }
}

#login_container {
  width: 24rem;
  padding: 2rem;
  background-color: #aacccc;
  background: linear-gradient(
    135deg,
    rgba(170, 204, 204, 1) 25%,
    rgba(200, 214, 229, 1) 75%
  );
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  form {
    .login_field {
      margin-bottom: 1rem;
      .login_field-label {
        width: 5rem;
        height: 2rem;
        background-color: none;
        color: $cineH_black;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.2rem;
        font-family: "Reem Kufi", sans-serif;
        padding: 0.1rem 0rem;
        margin-bottom: 0.5rem;
      }
      input {
        height: 2rem;
        width: 21rem;
        border: none;
        border-radius: 0.7rem;
        font-size: 1rem;
        padding: 0.2rem 0.7rem;
      }
      input:focus {
        outline: none;
      }
    }
    .login_field:nth-child(4) {
      display: flex;
      align-items: center;
      .login_field-label {
        width: fit-content;
        font-size: 1rem;
        height: 100%;
        padding: 0;
        background: none;
        color: $cineH_black;
        font-weight: 300;
        margin: 0;
      }
      input {
        padding: 0;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    div:last-child {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: #ca5b4c;
        border: none;
        color: white;
        font-family: "Reem Kufi", sans-serif;
        padding: 0.3rem 2rem;
        font-size: 1.5rem;
        border-radius: 0.7rem;
        margin-top: 1rem;
        cursor: pointer;
      }
    }
  }
}

#login_help {
  margin-bottom: 1rem;
  div {
    margin-bottom: 0.5rem;
    a {
      color: #9d9d9d;
      text-decoration: none;
      .find_password {
        color: #e3c007;
      }
      .sign_up {
        color: #acc0f3;
      }
    }
  }
}
