#reset-password_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

#reset-password_title {
  width: 28rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  div {
    background-color: #c8d6e5;
    height: 1.2rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    h1 {
      font-family: "Reem Kufi", sans-serif;
      font-size: 2rem;
      position: relative;
      top: -1.2rem;
      color: $cineH_black;
      font-weight: 600;
    }
  }
}

.reset-password_form {
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  border: 0.4rem #aacccc solid;
  border-radius: 1rem;
  padding: 2rem;
  width: 23.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $cineH_black;

  .reset-password_form_field {
    margin-bottom: 1.5rem;
    .reset-password_form_label {
      font-size: 1.5rem;
      font-family: "Reem Kufi", sans-serif;
      margin-bottom: 0.5rem;
      font-weight: 800;
    }

    input {
      width: 18rem;
      height: 1.2rem;
      border-radius: 0.7rem;
      border: 0.1rem #c4c4c4 solid;
      outline: none;
      font-size: 1.1rem;
      padding: 0.5rem;
    }
  }
  .reset-password_submit {
    display: flex;
    justify-content: center;
    button {
      background-color: #ca5b4c;
      color: #f9fafb;
      border: none;
      padding: 0.5rem 2rem;
      font-size: 1.5rem;
      font-family: "Reem Kufi", sans-serif;
      border-radius: 0.7rem;
      width: 17rem;
      cursor: pointer;
    }
  }
}
