.dashboard__user {
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(200, 214, 229, 1) 20%,
    rgba(214, 224, 224, 1) 80%
  );
  color: $cineH_black;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  .profile_avatar {
    margin-bottom: 0;
    object-fit: cover;
    object-position: center center;
  }
  .dashboard__username {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1rem;
    color: $cineH_black;
    font-family: "Reem Kufi", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    div:first-child {
      margin-bottom: 0.5rem;
    }
  }
}

.dashboard_title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  color: $cineH_black;
  font-family: "Reem Kufi", sans-serif;
  background: radial-gradient(
    circle,
    rgba(214, 224, 224, 1) 21%,
    rgba(170, 204, 204, 1) 80%
  );
  padding: 1rem 0rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.activity_grid,
.collection_grid {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  .activity__container,
  .collection__container {
    margin-bottom: 2rem;
    font-family: "Reem Kufi", sans-serif;
    color: $cineH_black;
  }
  .activity__title,
  .collection__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .activity__content,
  .collection__content {
    border: 0.1rem solid #dfe4ea;
    background-color: $cineH_white;
    width: 100%;
    height: 15rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    .activity_more,
    .collection_more {
      a {
        text-decoration: none;
        color: $cineH_black;
      }
    }
    .activity_elements,
    .collection_elements {
      display: flex;
    }
    .activity_element,
    .collection_element {
      margin-right: 1rem;
      .activity__element_title,
      .collection__element_title {
        font-family: $normal_text_font;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        span {
          text-align: center;
          font-size: 0.8rem;
          font-weight: 400;
          display: block;
          width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

.pubblic {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
