.review_detail_warpper {
  margin-left: 3rem;
  margin-right: 3rem;
}

.review_detail_title {
  background: $title_background;
  height: 1.2rem;
  width: fit-content;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  h1 {
    font-family: "Reem Kufi", sans-serif;
    font-size: 2rem;
    position: relative;
    top: -1.2rem;
    font-weight: 600;
    color: $cineH_black;
  }
}

.menu_description {
  color: #b3b2b2b7;
}

.review_detail_container {
  background-color: $cineH_white;
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.1rem solid #dfe4ea;
  .review_detail_movieInfo {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: $cineH_black;
    padding-right: 2rem;
    font-family: $normal_text_font;
    div {
      margin-bottom: 0.5rem;
    }
    .review_detail__movieTitle {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center;
      font-weight: 600;
    }
    .review_detail__movieDirector {
      font-weight: 600;
    }
    .review_detail__movieRating {
      .fa-star {
        color: #fac81a;
      }
      .fa-heart {
        color: #ca5b4c;
      }
    }
  }
  .detail_movieInfo__modify {
    border-right: 0.1rem solid #aacccc;
  }

  .review_detail_reviewInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .review_detail_reviewInfo__row {
      font-family: "Reem Kufi", sans-serif;
      color: $cineH_black;
      padding: 1rem;
      width: 100%;
      box-sizing: border-box;
      margin-left: 1rem;
      .review_detail__title {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
      }
    }
    .review_detail__row {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 1rem;
      margin-bottom: 1rem;
      .review_detail__rating {
        font-size: 2rem;
        i {
          color: #fac81a;
        }
      }
      a {
        text-decoration: none;
        color: $cineH_black;
      }
      .review_detail__user {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        .review_box__user_name {
          margin-left: 0.5rem;
        }
      }
    }
    .review_detail__content {
      width: 100%;
      line-height: 1.1rem;
      font-family: $normal_text_font;
    }
  }
}

.modify_detail_container {
  display: none;
}

.moviePoster_md {
  width: 12rem;
  height: 17rem;
}
