{% load l10n %}
<div class="modify_box" hidden="true">
    <form class="modify_form">
        {% csrf_token %}
        <div class="modify_box__user_container">
            <div class="modify_box__user">
                <a href="{% url 'users:user_profile' movie.user.pk %}">
                    <div class="user_avatar_medium" 
                        {% if movie.user.avatar  %} 
                            style='background-image: url({{movie.user.avatar.url}});'
                        {% endif %}>
                    </div>
                    <div class="modify_box__user_name">
                        <div class="review_user__firstname">{{review.user.first_name}}</div>
                        <div class="review_user__lastname">{{review.user.last_name}}</div>
                    </div>
                </a>
                <div>
                    
                    <div class="modify_stars_slider">
                        <div class="modify_score">
                            <span class="modify_score_text">rating: {{review.rate | unlocalize }}</span>
                        </div>
                        <span class="modify_empty_stars">
                            ★★★★★
                            <span class="modify_full_stars">
                                ★★★★★
                            </span>
                            <input type="range" 
                            name="rate" 
                            value="{{review.rate | unlocalize }}"
                            min="0" 
                            max="5" 
                            step="0.5"
                            required class="modify_rate">
                        </span> 
                </div>
                
        
            </div>
        </div>
        </div>
        <div class="modify_box__content_container">
            <h1>Modificazione</h1>
            <div class="review_title">
                    <label for="modify_title">Titolo</label>
                    <input type="text" name="title" maxlengh="300" required class="modify_title" value="{{review.title}}">
            </div>
            <div class="review_content">
                    <label for="modify_content">Commento</label>
                    <textarea name="content" maxlengh="300" required class="modify_content" >{{review.content}}</textarea>
            </div>
            <div class="modify_btns">
                <button class="cancel"><i class="fas fa-ban"></i>cancella</button>
            <button class="update"><i class="fas fa-edit"></i>aggiorna</button>
            </div>
        </div>
    </form>
</div>