{% load l10n %}
<div class="review_box">
    <div class="review_box__user_container">
            <div class="review_box__user">
                {% if type == "new_review" %}
                    <a href="{% url 'users:user_profile' user.pk %}">
                            <div class="user_avatar_medium" 
                            {% if user.avatar  %} 
                                style='background-image: url({{user.avatar.url}});'
                            {% endif %}>
                        </div>
                    <div class="review_box__user_name">
                        <div class="review_user__firstname">{{user.first_name}}</div> 
                    
                        <div class="review_user__lastname">{{user.last_name}}</div>
                    </div>
                    </a>
                {%else%}
                    <a href="{% url 'users:user_profile' review.user.pk %}">
                        <div class="user_avatar_medium" 
                            {% if review.user.avatar  %} 
                                style='background-image: url({{review.user.avatar.url}});'
                            {% endif %}>
                        </div>
                    <div class="review_box__user_name">
                        <div class="review_user__firstname">{{review.user.first_name}}</div> 
                    
                        <div class="review_user__lastname">{{review.user.last_name}}</div>
                    </div>
                </a>
                {% endif %}
            </div>
        <div class="review_box__rate">
            <i class="fas fa-star"></i>&nbsp;&nbsp;<span class="review_rate">"{{review.rate | unlocalize}}"</span>
        </div>
        <div class="review_box__date">
            {{review.created | date:'d-F-Y-H:i' }} 
        </div>
    </div>

    <div class="review_box__content_container">
        <div class="review_title">{{review.title}}</div>
        <div class="review_content">{{review.content}}</div>
        <div class="review_box__btn_container">
            {% if review.user == user or type == "new_review" %}
            <div class="review_btns">
                <button class="delete" value="{{review.pk}}"><i class="fas fa-trash-alt"></i>&nbsp;elimina</button>
                <button class="modify" value="{{review.pk}}"><i class="fas fa-edit"></i>&nbsp;modifica</button>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
                {% if review in fav_reviews %}
                    <div class="review_like_it" 
                    {% if type != "new_review" %}
                        data-pk={{review.pk}}
                    {% endif %}
                    data-state="filled"
                    {% if obj_type == "movie" %}
                        data-obj="movie"
                    {% else %}
                        data-obj="videoart"
                    {% endif %}
                    >
                        <button class="review_like_it_btn"><i class="fas fa-heart"></i><span>{{review.count_fav_users}}</span></button> 
                    </div>
                {% else %}
                    <div class="review_like_it" 
                    {% if type != "new_review" %}
                        data-pk={{review.pk}}
                    {% endif %}
                    data-state="empty"
                    {% if obj_type == "movie" %}
                        data-obj="movie"
                    {% else %}
                        data-obj="videoart"
                    {% endif %}
                    >
                        <button class="review_like_it_btn"><i class="far fa-heart"></i><span>{{review.count_fav_users}}</span></button> 
                    </div>
                {% endif %}
            {% endif %}
        </div>
        


    </div>
   
</div>