{% load l10n %}
<a {% if obj == "movie" %}
    href="{% url 'reviews:detail-movie' review.pk %}"
   {% else %}
    href="{% url 'reviews:detail-videoart' review.pk %}"
   {% endif %}

    class="card_link">
    <div class="review_card">
        <div class="review_card__row">
            <div class="review_card__movieInfo">
                {% if obj == "movie" %}
                    <img class="moviePoster_sm" src="{{review.movie.poster.url}}" />
                {% else %}
                    <img class="moviePoster_sm" src="{{review.videoart.poster.url}}" />
                {% endif %}
            </div>

            <div class="review_card__reviewInfo">
                    <div class="review_card__user">
                        <div class="user_avatar_sm"
                                {% if review.user.avatar  %} 
                                    style='background-image: url({{review.user.avatar.url}});'
                                {% endif %}>
                        </div>
                        <div class="review_card__user_name">
                            <div class="review_user__firstname">{{review.user.first_name}}</div> 
                        
                            <div class="review_user__lastname">{{review.user.last_name}}</div>
                        </div>
                    </div>
                    <div class="review_card__rate">
                        <i class="fas fa-star"></i>&nbsp;&nbsp;<span class="review_rate">{{review.rate | unlocalize}}</span>
                    </div>
                    <div class="review_card__title">
                        "{{review.title}}"
                    </div>
                    <div class="review_card__metadata">
                        <div class="review_card__like_it">
                            <i class="fas fa-heart"></i>&nbsp;&nbsp;{{review.like_it}}
                        </div>
                        <div class="review_card__date">
                            {{review.created | date:'d-F-Y' }} 
                        </div>
                    </div>
            </div>

        </div>
    </div>
</a>