@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

#wrapper {
  min-width: 1190px;
}

header {
  background-color: #3a37ac;
  height: 8rem;
  margin: 0 10rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;

  #header_title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Reem Kufi", sans-serif;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        font-size: 5rem;
      }
      span {
        color: white;
        font-size: 0.95rem;
      }
    }
  }

  #nav {
    nav ul {
      padding-top: 1.7rem;
      display: flex;
      li {
        margin-right: 1rem;
        a {
          text-decoration: none;
        }
        span {
          font-family: "Noto Sans Hanunoo", sans-serif;
          color: white;
          font-size: 1.3rem;
        }
      }
    }
  }
}

#user-menu {
  margin: 1rem 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .user-menu_avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    background-size: cover;
  }
  a {
    text-decoration: none;
    color: black;
    div {
      margin-left: 1rem;
      padding: 0 0.2rem;
      padding-bottom: 0.3rem;
      border-bottom: 0.15rem solid #acc0f3;
      //font
    }
  }
}

main {
  margin: 0 10rem;
}

footer {
  color: #858585;
  margin: 10rem 0rem;
  hr {
    width: 60rem;
    height: 0.001rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    margin-top: 2rem;
  }
}
