@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
}

* {
  font-family: $normal_text_font;
}

#wrapper {
  min-width: 1150px;
  background-color: #f1f2f6;
  margin: 0 10rem;
}

header {
  background-color: $cineH_black;
  background: linear-gradient(135deg, #4b6584, $cineH_black);
  height: 11rem;
  padding: 2rem 2rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;

  #header_title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Reem Kufi", sans-serif;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        font-size: 5rem;
      }
      span {
        color: white;
        font-size: 0.9rem;
        font-weight: 100;
      }
    }
  }

  #nav {
    margin-top: 2.5rem;
    height: 100%;
    nav {
      height: 100%;
      ul {
        display: flex;
        height: 100%;

        a {
          text-decoration: none;
          margin-right: 1rem;
          &:hover {
            li {
              background-color: $cineH_black;
              transition: background-color 0.6s ease-in-out;
            }
          }
          li {
            height: 100%;
            padding: 0.5rem 0.5rem;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            box-sizing: border-box;
            span {
              font-family: "Reem Kufi", sans-serif;
              color: white;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
.user_avatar_small {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  background-position: center center;
  background-size: cover;
}

#user-menu {
  margin: 1rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
    font-family: "Reem Kufi", sans-serif;
    font-weight: 400;
    color: $cineH_black;
    &:hover {
      div {
        border-bottom: 0.17rem solid #acc0f3;
        transition: border-bottom 0.5s ease-in-out;
      }
    }
    div {
      margin-left: 0.5rem;
      width: 3rem;
      text-align: center;
      padding-bottom: 0.3rem;
      box-sizing: border-box;
      border-bottom: 0.15rem solid #f1f2f6;
      font-size: 1rem;
      display: flex;
      justify-content: center;
    }
    .user-menu__loggedin {
      width: fit-content;
      margin-left: 1rem;
    }
    .logout_btn {
      margin-right: 0.5rem;
    }
  }
}

footer {
  color: #858585;
  padding: 10rem 0rem;
  font-family: $normal_text_font;
  hr {
    width: 60rem;
    height: 0.001rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    margin-top: 2rem;
  }
}

#overview_mobile {
  display: none;
  width: 100%;
  height: 100%;
  font-family: "Reem Kufi", sans-serif;

  i {
    font-size: 5rem;
    color: yellow;
    margin-bottom: 0.5rem;
  }
  div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      color: white;
      text-align: center;
      line-height: 1.5rem;
    }
    #overview_cienacca {
      margin-top: 2rem;
    }
  }
}

// mobile

@media screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }

  #wrapper {
    min-width: 100%;
  }

  header {
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    padding-bottom: 0.7rem;
    height: 5rem;
    #header_title {
      div {
        padding-bottom: 1rem;
        a {
          font-size: 2rem;
        }
        span {
          font-size: 0.5rem;
        }
      }
    }
    #nav {
      margin-top: 0.6rem;
      nav {
        ul {
          a {
            li {
              span {
                font-size: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .user_avatar_small {
    width: 1.5rem;
    height: 1.5rem;
  }
  #user-menu {
    margin-right: 0.5rem;
    .user-menu_upload {
      display: none;
    }
    a {
      div {
        width: fit-content;
        font-size: 0.5rem;
      }
      .user-menu__loggedin {
        margin-left: 0.5rem;
      }
    }
  }

  footer {
    hr {
      width: 90%;
    }
    span {
      font-size: 0.5rem;
      text-align: center;
    }
  }
}
