#today-movies {
  font-family: "Noto Sans Hanunoo", sans-serif;

  #today-movies_title {
    background-color: #ddc9e7;
    height: 1.2rem;
    width: fit-content;
    h1 {
      margin-top: 3rem;
      font-family: "Reem Kufi", sans-serif;
      font-size: 2rem;
      position: relative;
      top: -1.2rem;
    }
  }

  .today-movies_content {
    margin-top: 1rem;
    background-color: #c4c4c4;
    width: inherit;
    height: 30rem;
    h1 {
      padding: 2rem 2rem;
      color: white;
      font-size: 3.7rem;
    }
    p {
      padding: 0rem 2.2rem;
      width: 28rem;
      color: white;
      font-size: 1.1rem;
    }
    div {
      margin-top: 7rem;
      padding: 0 2rem;
      color: white;
      display: flex;
      align-items: center;
      i {
        font-size: 5rem;
        margin-right: 1rem;
      }
      span {
        font-size: 2rem;
      }
    }
  }
}

#new-movies {
  margin-top: 4rem;
  font-family: "Noto Sans Hanunoo", sans-serif;
  #new-movies_title {
    display: flex;
    justify-content: space-between;

    div {
      background-color: #ddc9e7;
      height: 1.2rem;
      width: fit-content;
      h1 {
        margin-top: 3rem;
        font-family: "Reem Kufi", sans-serif;
        font-size: 2rem;
        position: relative;
        top: -4.2rem;
      }
    }

    span a {
      color: #f07a7a;
      margin-right: 1rem;
      text-decoration: none;
    }
  }

  #new-movies_grid {
    margin-top: 1rem;
    display: grid;
    height: 60rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .movie-card {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      .movie-card_thumnail {
        width: 15rem;
        height: 10rem;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .movie-card_info {
        display: flex;
        flex-direction: column;

        .info_title {
          margin: 1rem 0rem;
          font-size: 1.3rem;
        }
        .info_user {
          font-size: 0.8rem;
        }
        div {
          margin-top: 1rem;
          span:nth-child(3) i {
            color: #edf12c;
          }
        }
      }
    }
  }
}
