{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block people_search_bar %}
{% endblock people_search_bar %}

{% block content %}

<h2> i nuovi film</h2>

<ul>
{% for movie in movies %}
    <li>
        <a href={% url 'movies:detail' movie.pk %}><div>{{ movie.title }}</div></a>
    </li>
{% endfor %}
</ul>

<div>
    <div>
        {% if start_index != 0 %}
            <a href="?page={{start_index}}">previous</a>
        {% endif %}
    </div>
    <div>
        
            {% for page in page_range %}
                <span><a href="?page={{page}}">{{page}}</a></span>
            {% endfor %}
        
    </div>
    <div>
        {% if next_index < max_index %}
            <a href="?page={{next_index}}">next</a>
        {% endif %}
    </div>
</div>


{% endblock content%}