{% extends "base.html" %}
{% load l10n %}
{% load static %}

{% block page_title %}
    {{movie.title}}
{% endblock page_title %}


{% block content %}
<div id="detail_wrapper">


<!--Movie Title-->
    <div id="detail_title_container"> 
        <div class="detail_title nowShowing">

            <div>
                <h1>Now Showing. . .&nbsp;</h1>
             </div>
        </div>

        <div class="detail_title movieTitle">
            <h1>  {{movie.title}}</h1>
        </div>

        <div class="detail_title dir">
            <h1>dir. {{movie.director}},&nbsp;&nbsp;&nbsp;&nbsp;{{movie.year}}</h1>
        </div>

        <div class="detail_title metadata">
            <h1><i class="fas fa-star"></i>&nbsp;{{movie.rating | unlocalize}}&nbsp;&nbsp;&nbsp; 
                {% if movie.views <= 1 %} 
                {{ movie.views }} visto 
                {% else %} 
                {{ movie.views }}&nbsp;&nbsp;visti {% endif %}</h1>
        </div>

    </div>
    
<!--Movie Screen-->   
    <video id="videoPlayer" 
               class="video-js">
               <source src='{{ movie.video.url }}' type="video/mp4"></source>
<!--Movie Description--> 
    </video> 
    <div class="detail_description">
        <div class="description__title">
            <h1>Sinossi</h1>
        </div>  
        <div class="description__content">
            <p>{{movie.description}}</p>
        </div>
        <a href="{% url 'users:user_profile' movie.user.pk %}">
        <div class="description__user">
                <div class="user_avatar_small" 
                    {% if movie.user.avatar  %} 
                        style='background-image: url({{movie.user.avatar.url}});'
                    {% endif %}>
                </div>
                <div class="descriptrion__user__name">
                    <div>un film distribuito da&nbsp;&nbsp;</div>
                    <div>{{movie.user}}</div>
                </div>
                    
            </div>
        </a>
    </div>
<!--Movie Information--> 
    <div class="detail_movieInfo">
        <div class="info__moviePoster">
            {% if movie.poster %}
                <img class="moviePoster_md"src="{{movie.poster.url}}" />
            {% else %}
                <div class="moviePoster_md default_poster">
                    <span>Questo film non ha una locandina.</span>
                </div>
            {% endif %}
        </div>
        <div class="info__staff">
            <h1>{{movie.title}}&nbsp;({{movie.year}})</h1>
            <ul>
                <li><span>regia:</span> {{movie.director}} </li>
                <li><span>sceneggiatura:</span> {{movie.screenwriter}} </li>
                <li><span>auttori:</span> {{movie.casting}}</li>
                <li><span>montaggio:</span> {{movie.editor}}</li>
                <li><span>fotografia:</span> {{movie.director_of_photograpy}}</li>
                <li><span>audio:</span> {{movie.audio_director}}</li>
                <li><span>musica:</span> {{movie.music}}</li>
                <li><span>scenografia:</span> {{movie.art_director}}</li>
                <li><span>costume:</span> {{movie.costume_designer}}</li>
                <li><span>makeup artist:</span> {{movie.makeup_artist}}</li>
                <li><span>vfx:</span> : {{movie.spacial_effect_supervisor}}</li>
                <li><span>sound_designer:</span> {{movie.sound_designer}}</li>
            </ul>
        </div>
        
    </div>

<!--Movie Update/Delete Btn--> 
    {% if movie.user == user %}
        <div class="movie__modify">
            <a href="{% url 'movies:update' 'movies' movie.pk %}"><div>
                <i class="fas fa-edit"></i>&nbsp;&nbsp;Aggiorna</div></a>
            <a href="{% url 'movies:delete' movie.pk %}"><div>
                <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Elimina</div></a>
        </div>

    {% endif %}

<!--Review Write Form-->
    <div class="reviewForm_container" data-pk="{{ movie.pk }}">
        
        {% if user.is_authenticated %}
            {% if user.email_verified %}
                    {% include "../mixins/reviews/review_form.html" with type="movie" %}
            {% else %}
                <div class="text_verified_only">🔒Fai la verificazione dell'account per scrivere un review.&nbsp;&nbsp;
                    <a href="{% url 'users:user_profile' user.pk %}">profilo mio<i class="fas fa-sign-in-alt"></i></a></div>
            {% endif %}
        {% else %}
            <div class="text_login_only">🔒Fai login per scrivere un review.&nbsp;&nbsp;
                <a href="{% url 'users:login' %}">login<i class="fas fa-sign-in-alt"></i></a></div>        
        {% endif %}
    </div>
    
          
<!--New Review-->

    <div class="review_container">
        <ul id="reviews">
            <li class="new_review" hidden="true">
                {% include "../mixins/reviews/review_box.html" with type="new_review" %}
<!--New review modify-->
                {% include "../mixins/reviews/modify_form.html" with type="new_review" %}
            </li>
<!--Review List default 10-->
            {% for review in show_reviews %}

            <li id="{{review.pk}}" class="review">
                {% include "../mixins/reviews/review_box.html" %}
<!--Review modify-->
                {% include "../mixins/reviews/modify_form.html"  %}
            </li>
            {% endfor %}
<!--Review List hidden the others-->
           {% for review in hidden_reviews %}
            <li id="{{review.pk}}" class="review hidden_review" hidden>
                {% include "../mixins/reviews/review_box.html" %}
<!--Review modify-->
                {% include "../mixins/reviews/modify_form.html"  %}
            </li>
            {% endfor %}
        </ul>
    </div>
<!--show all reveiw-->
    {% if num_reviews != 0 and  num_hidden_reviews != 0 %}
        <div id="show_all_reviews">
            <button id="show_all_reviews_btn"><i class="far fa-caret-square-down"></i>&nbsp;&nbsp;&nbsp;Vedi anche gli altri &nbsp;{{ num_hidden_reviews }}&nbsp; review...</button>
        </div>
    {% endif %}
</div>
    
<script src="{% static 'js/movies/createMovieReview.js' %}"></script>
<script src="{% static 'js/movies/modifyMovieReview.js' %}"></script>
<script src="{% static 'js/movies/deleteMovieReview.js' %}"></script>
<script src="{% static 'js/movies/videoPlayer.js' %}"></script>
<script src="{% static 'js/movies/movieViewCount.js' %}"></script>
<script src="{% static 'js/movies/ratingStars.js' %}"></script>
<script src="{% static 'js/movies/hideAndShowReview.js' %}"></script>
{% endblock content %}

