{% extends "base.html" %}

{% block page_title %}
    {{movie.title}}
{% endblock page_title %}


{% block people_search_bar %}
{% endblock people_search_bar %}

{% block content %}

<h1>{{movie.title}}</h1>
<h2>{{movie.user}}</h2>
<!--player-->
<div style="background-color: black; width: 1000px; height: 500px;"> 
</div>
<!--player-->
<h4>description</h4>
    <div>
        <p>{{movie.description}}</p>
    </div>
</div>
<div>
    <ul>
        <li>director : {{movie.director}} </li>
        <li>screenwriter : {{movie.screenwriter}} </li>
        <li>casting : {{movie.casting}}</li>
        <li>editor  : {{movie.editor}}</li>
        <li>director_of_photograpy  : {{movie.director_of_photograpy}}</li>
        <li>audio_director : {{movie.audio_director}}</li>
        <li>music : {{movie.music}}</li>
        <li>art_director : {{movie.art_director}}</li>
        <li>costume_designer : {{movie.costume_designer}}</li>
        <li>makeup_artist : {{movie.makeup_artist}}</li>
        <li>spacial_effect_supervisor : {{movie.special_effect_supervisor}}</li>
        <li>sound_designer : {{movie.sound_designer}}</li>
    </ul>
</div>
{% if movie.user == user %}
<a href="{% url 'movies:update' movie.pk %}"><div>Update this movie</div></a>
<a href="{% url 'movies:delete' movie.pk %}"><div>Delete this movie</div></a>
{% endif %}
<h4>Reviwes</h4>
<div>
    {% include "reviews/review_form.html" %}
</div>
<div>
    <ul>
        {% for review in movie.reviews.all %}
        <li id="{{review.pk}}">
            <div class="review_box">
                <div class="review_title">{{review.title}}</div>
                <div class="review_user">{{review.user}}</div>
                <div class="review_rate">rate : {{review.rate}}</div>
                <div class="review_content">{{review.content}}</div>
            {% if review.user == user %}
            <a href="{% url 'reviews:delete' movie.pk review.pk %}"><button class= "delete">delete</button></a>
            <button class="modify" value="{{review.pk}}">modify</button>
            {% endif %}
            </div>
            
            <form class="modify_form" hidden=true >
                <p>
                    <label for="id_title">Title</label>
                    <input type="text" name="title" maxlengh="300" required id="id_title" value="{{review.title}}">
                </p>
                <p>
                    <label for="id_rate">Rate</label>
                    <input type="number" name="rate" maxlengh="300" required id="id_rate" value="{{review.rate}}">
                </p>
                <p>
                    <label for="id_content">Text</label>
                    <textarea name="rate" maxlengh="300" required id="id_rate" >{{review.content}}</textarea>
                </p>
                <button class="cancel">cancel</button>
                <button class="update">update</button>
            </form>
        
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    const modifyBtns = document.getElementsByClassName("modify");
    const updateBtns = document.getElementsByClassName("update");
    const cancelBtns = document.getElementsByClassName("cancel")



    function handleClickModify(event) {
        const modifyBtn = event.target;
        const pk = modifyBtn.value;
        const reviewLi = document.getElementById(`${pk}`);
        const reviewBox = reviewLi.querySelector(".review_box");
        const modifyForm = reviewLi.querySelector(".modify_form");
        const cancelBtn = reviewLi.querySelector(".cancel");
        const updateBtn = reviewLi.querySelector(".update");

        reviewBox.hidden = true;
        modifyForm.hidden = false;

        cancelBtn.addEventListener("click", (event) => {
            event.preventDefault();
            reviewBox.hidden = false;
            modifyForm.hidden = true;
        })

        updateBtn.addEventListener("click", (event) => {
            event.preventDefault();
            console.log(event.target);
            const titleInput = modifyForm.querySelector("#id_title");
            const rateInput = modifyForm.querySelector("#id_rate");
            const contentInput = modifyForm.querySelector("#id_content");
    
            const reviewTitle = reviewBox.querySelector(".review_title");
            const reviewRate = reviewBox .querySelector(".review_rate");
            const reviewContent = reviewBox .querySelector(".review_content");
    
            const updateTitle = titleInput.value;
            const updateRate = rateInput.value;
        
            reviewTitle.innerText = updateTitle
            reviewRate.innerText = updateRate

            reviewBox.hidden = false;
            modifyForm.hidden = true;
        });
    
    }

    for (const modifyBtn of  modifyBtns) {
        modifyBtn.addEventListener("click", handleClickModify);
    }


</script>
{% endblock content %}
