{% extends "base.html" %}

{% block page_title %}
    Aggiornamento del film
{% endblock page_title %}


{% block content %}
<div id="upload_wrapper">
    <div id="upload_title">
        <div>
            <h1>&nbsp;Aggiornamento dell'informazione di film&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Il modulo per aggiornare il film</p>
    </div>
    <div class="upload_form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {% include "../mixins/field_error.html" %}
                    {% endfor %}
                {% endif %}
            <div class="upload_form__sections">
                <div class="video-section">
                    {% for field in form %}
                        {% if field.name == "video" or field.name == "thumbnail" or field.name == "poster" or field.name == "title" or field.name == "description" or field.name == "year" or field.name == "team" %}
                            <div class="upload_form_field">
                                <div class="upload_form_label">{{field.label}}</div>
                                {{field}}
                                {% if field.errors %}
                                {% for error in field.errors %}
                                     {% include "../mixins/field_error.html" %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
                <div class="staff-section">
                    {% for field in form %}
                        {% if field.name != "video" and field.name != "thumbnail" and field.name != "poster" and field.name != "title" and field.name != "description" and field.name != "year" and field.name != "team" %}
                            <div class="upload_form_field">
                                <div class="upload_form_label">{{field.label}}</div>
                                {{field}}
                                {% if field.errors %}
                                {% for error in field.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
                
                <div class="upload_submit">
                    <button>Aggiorna</button>
                </div>
        </form> 
    </div>   
</div>
<script>

</script>
{% endblock content %}