#detail_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#detail_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: $cineH_black;

  .detail_title {
    font-family: "Reem Kufi", sans-serif;
    font-weight: 600;
  }
  .nowShowing {
    h1 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      color: #aacccc;
    }
  }
  .movieTitle {
    width: 50rem;
    h1 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-align: center;
      font-size: 2.2rem;
      color: $cineH_white;
    }
  }
  .dir {
    h1 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      color: #acc0f3;
      font-weight: 400;
    }
  }
  .metadata {
    color: $cineH_white;
    font-weight: 300;
    display: flex;
    align-items: center;
    .fa-star {
      color: #fac81a;
    }
    .fa-heart {
      color: #ca5b4c;
    }
  }
}

.detail_description {
  background-color: $cineH_black;
  width: 100%;
  color: white;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .description__title {
    margin-bottom: 1.5rem;
    h1 {
      font-size: 1.5rem;
      font-family: "Reem Kufi", sans-serif;
    }
  }
  .description__content {
    display: flex;
    justify-content: center;
    padding: 0 8rem 2rem 8rem;
    line-height: 1.5rem;
    p {
      white-space: pre-wrap;
    }
  }
  a {
    text-decoration: none;
    color: $cineH_white;
  }
  .description__user {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;

    .descriptrion__user__name {
      margin-left: 0.5rem;
      font-size: 1rem;
      div:first-child {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
      }
    }
  }
}

.detail_movieInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 2rem;
  padding-bottom: 1.5rem;
  color: $cineH_black;
  background-color: $cineH_white;
  margin-bottom: 1rem;
  .movieInfo__row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    .info__moviePoster {
      padding: 2rem 0rem;
      padding-right: 3rem;
      height: 100%;
      border-right: dotted 0.3rem rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      .moviePoster_lg {
        width: 18rem;
        height: 24rem;
      }
      .videoartThumbnail {
        width: 28rem;
        height: 18rem;
      }
      .default_poster {
        background-color: #ecf0f1;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: white;
          font-family: "Reem Kufi", sans-serif;
        }
      }
    }
    .info__staff {
      padding-left: 3rem;
      font-size: 1.5rem;
      width: 100%;
      min-height: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      h1 {
        margin-bottom: 1rem;
        font-weight: 600;
        font-family: "Reem Kufi", sans-serif;
      }
      ul {
        li {
          margin-bottom: 0.2rem;
          font-size: 1rem;
          margin-bottom: 0.7rem;
          span {
            font-family: "Reem Kufi", sans-serif;
            font-size: 1rem;
            white-space: pre-wrap;
          }
        }
        .team {
          margin-bottom: 1rem;
          span {
            font-size: 0.7rem;
          }
          .team_name {
            font-size: 1rem;
          }
        }
      }
    }
    // videoart에서 info__staff
    .videoarts_card {
      min-height: 20rem;
      .videoart_card__description {
        margin-top: 1rem;
        span {
          font-family: "Noto Sans Hanunoo", sans-serif;
        }
      }
    }
  }

  .movieInfo__row:nth-child(2) {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .movie_like_it,
    .copy_link {
      button {
        font-size: 1.3rem;
        font-family: "Reem Kufi", sans-serif;
        color: $cineH_black;
        display: flex;
        align-items: center;
        background-color: $cineH_white;
        border: none;
        cursor: pointer;
      }
      i {
        font-size: 1.2rem;
        color: #ca5b4c;
      }
    }
    .movie_like_it {
      .fas {
        animation: heartbeat 0.5s ease-in-out infinite alternate;
      }
    }
    .copy_link {
      margin-left: 1rem;
      i {
        color: grey;
        animation: none;
      }
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scaleX(100%) scaleY(100%);
  }
  100% {
    transform: scaleX(125%) scaleY(125%);
    color: #e74c3c;
  }
}

.movie__modify {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  a {
    text-decoration: none;
  }
  div {
    box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    width: 5rem;
    font-family: "Reem Kufi", sans-serif;
    margin-left: 1rem;
    padding: 1rem 2rem;
    background-color: $cineH_black;
    color: white;
    font-size: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
  }
  .fa-edit {
    color: #aacccc;
  }
  .fa-trash-alt {
    color: #ca5b4c;
  }
}

.videoart__modify {
  margin-top: 1rem;
}

//review
.reviewForm_container {
  margin-top: 2rem;
  padding: 1rem 8rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c8d6e4;
  box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

#show_all_reviews {
  margin-top: 2rem;
  #show_all_reviews_btn {
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: $cineH_black;
    font-family: "Reem Kufi", sans-serif;
    border-radius: 1rem;
    color: $cineH_white;
    box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1.5rem;
      color: #acc0f3;
    }
  }
}

.text_verified_only,
.text_login_only {
  color: $cineH_black;
  display: flex;
  align-items: center;
  font-family: "Reem Kufi", sans-serif;
  a {
    color: #ca5b4c;
  }
}
