#delete-movie_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

#delete-movie_title {
  width: 28rem;
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  div {
    background: $title_background;
    height: 1.2rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    h1 {
      font-family: "Reem Kufi", sans-serif;
      font-size: 2rem;
      position: relative;
      top: -1.2rem;
      font-weight: 600;
      color: $cineH_black;
    }
  }
}

.delete-movie_form {
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  border: 0.4rem #aacccc solid;
  border-radius: 1rem;
  padding: 2rem;
  width: 23.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .delete-movie_form_field {
    margin-bottom: 1.5rem;
    .delete-movie_form_label {
      font-size: 1.5rem;
      font-family: "Reem Kufi", sans-serif;
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: $cineH_black;
    }

    input {
      width: 18rem;
      height: 1.2rem;
      border-radius: 0.7rem;
      border: 0.1rem #c4c4c4 solid;
      outline: none;
      font-size: 1.1rem;
      padding: 0.5rem;
    }
  }

  .delete-movie_form_field:nth-child(4) {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    .delete-movie_form_label {
      padding-top: 0.5rem;
      font-size: 1rem;
      color: #ca5b4c;
    }
    input {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 0.7rem;
      border: 0.1rem #c4c4c4 solid;
      outline: none;
      font-size: 1.1rem;
    }
  }

  .delete-movie_submit {
    display: flex;
    justify-content: center;
    button {
      background-color: #ca5b4c;
      color: white;
      border: none;
      padding: 0.5rem 2rem;
      font-size: 1.5rem;
      font-family: "Reem Kufi", sans-serif;
      border-radius: 0.7rem;
      width: 18rem;
      cursor: pointer;
    }
  }
}

#delete-movie_advice {
  width: 21rem;
  font-size: 1.2rem;
  font-family: $normal_text_font;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: $cineH_black;
  i {
    color: #e3c007;
  }
}
#delete-movie_text {
  width: 20rem;
  border: 0.1rem #aacccc solid;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-family: $normal_text_font;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}
