{% extends "base.html" %}

{% block page_title %}
    Reviews - Video Art
{% endblock page_title %}

{% block content %}

<div class="reviews_list_container">
    <div class="reviews_list_title">
        <div>
            <h1>&nbsp;REVIEWS - Video Art&nbsp;&nbsp;&nbsp;</h1>
        </div>
    </div>

    <p class="menu_description">Tutti I riviews per video art</p>

    <div class="reviews_list_grid all_reviews">
        {%for review in reviews  %}
            {% include "mixins/reviews/review-card.html" with obj="videoart" %}
        {% endfor %}
    </div>
</div>

<div class="paginator">
    <div>
        {% if start_index != 0 %}
            <span><a href="?page={{start_index}}"><i class="fas fa-chevron-circle-left"></i></a></span>
        {% endif %}
    </div>
    <div>
            {% for page in page_range %}
                {% if current_page == page %}
                    <div class="current-page"><span>{{page}}</span></div>
                {% else %}
                    <span><a href="?page={{page}}">{{page}}</a></span>
                {% endif %}
            {% endfor %}
    </div>
    <div>
        {% if next_index < max_index %}
            <span><a href="?page={{next_index}}"><i class="fas fa-chevron-circle-right"></i></a></span>
        {% endif %}
    </div>
</div>

{% endblock content%}