{% extends "base.html" %}
{% load l10n %}
{% load static %}

{% block page_title %}
    Review di {{review.user}} 
{% endblock page_title %}

{% block content %}

<div class="review_detail_warpper">
    <div>
        <div class="review_detail_title">
            <h1>&nbsp;Review di {{review.user}} &nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Un review di {{review.user}} per {{review.movie.title}} </p>
    </div>
    <div class="review_detail_container">
        <div class="review_detail_movieInfo">
            <a href="{% url 'movies:detail' review.movie.pk %}">
                    <img class="moviePoster_md" src="{{review.movie.poster.url}}" />
            </a>
            <div class="review_detail__movieTitle">
                {{review.movie.title}} 
            </div>
            <div class="review_detail__movieYear">
                 ({{review.movie.year}})
            </div>
            <div class="review_detail__movieDirector">
                dir. {{review.movie.director}}
            </div>
            <div class="review_detail__movieRating">
                <i class="fas fa-star"></i>&nbsp;{{review.movie.rating | unlocalize}}&nbsp;&nbsp;<i class="fas fa-heart"></i>&nbsp;{{review.movie.count_fav_users}}
            </div>
        </div>
        <div class="review_detail_reviewInfo">
            <div class="review_detail_reviewInfo__row">
                <div class="review_detail__title">
                    <div>"{{review.title}}"</div>
                </div>
                <div class="review_detail__row">
                    <div class="review_detail__rating">
                        <i class="fas fa-star"></i>&nbsp;{{review.rate | unlocalize}}
                    </div>
                    <a class="review_detail__user" href="{% url 'users:user_profile' review.user.pk %}">
                        <div class="user_avatar_medium" 
                            {% if review.user.avatar  %} 
                                style='background-image: url({{review.user.avatar.url}});'
                            {% endif %}>
                        </div>
                    <div class="review_box__user_name">
                        <div class="review_user__firstname">{{review.user.first_name}}</div> 
                    
                        <div class="review_user__lastname">{{review.user.last_name}}</div>
                    </div>
                </a>
                </div>
                <div class="review_detail__content">
                    <div>{{review.content}}</div>
                </div>
            </div>
            <div class="review_detail_btns">
                <div class="review_btns" {% if user == review.user %} style="display:flex" {% else%} style="display:none" {% endif %}>
                    <button class="delete" value="{{review.pk}}"><i class="fas fa-trash-alt"></i>&nbsp;elimina</button>
                    <button class="modify" value="{{review.pk}}"><i class="fas fa-edit"></i>&nbsp;modifica</button>
                </div>
                {% if user.is_authenticated %}
                    {% if review in fav_reviews %}
                        <div class="review_like_it" 
                            data-pk={{review.pk}}
                            data-state="filled"
                            data-obj="movie">
                            <button class="review_like_it_btn"><i class="fas fa-heart"></i><span>{{review.count_fav_users}}</span></button> 
                        </div>
                    {% else %}
                        <div class="review_like_it" 
                            data-pk={{review.pk}}
                            data-state="empty"
                            data-obj="movie">
                            <button class="review_like_it_btn"><i class="far fa-heart"></i><span>{{review.count_fav_users}}</span></button> 
                        </div>
                    {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/reviews/switchFavReview.js' %}"></script>
{% endblock content%}