{% extends "base.html" %}

{% block page_title %}
    Servizo bloccato
{% endblock page_title %}

{% block content %}

<div class="alarme_wrapper">
    <div class="alarme_title">
        <div>
            <h1>&nbsp;🚫Verifica il tuo email per favore!&nbsp;</h1>
        </div>
    </div>
<div class="alarme_container">
    <span>Ad accedere questo servizo serve la verficazione di Email.✉️ </span>
    <span>Ma non hai ancora verificato il tuo indirizzo email.🥲</span>
    <span>Vai al tuo profilo e completa la verificazione del tuo account.</span>
    <span>Grazie {{user.first_name}}!🖤</span>
    
    <span>CINEACCA</span>
</div>


{% endblock content%}