{% extends "base.html" %}

{% block page_title %}
    Verificazione dell'account
{% endblock page_title %}


{% block content %}
<div class="alarme_wrapper">
    <div class="alarme_title">
        <div>
            <h1>&nbsp;Verifica dell'account&nbsp;</h1>
        </div>
    </div>
<div class="alarme_container send">
    <span>Abbiamo inviato una mail di verifica al tuo indirizzo.😚</span>
    <span>✉️ {{email}}</span>
    <span>Verifica ora per iniziare a esplorare le varie attività su Cineacca!</span>
    <span>Se non hai ancora ricevuto la mail di verifica, controlla la casella di spam o</span>
    <span>richiedi nuovamente la mail di autenticazione attraverso la pagina del tuo profilo!</span>
    <span>Grazie {{user.first_name}}!🖤</span>
    
    <span>CINEACCA</span>
</div>


{% endblock content%}