{% extends "base.html" %}

{% block page_title %}
    Benvenuto
{% endblock page_title %}

{% block content %}

<div class="alarme_wrapper">
    <div class="alarme_title">
        <div>
            <h1>&nbsp;Benvenuto {{user.first_name}}!&nbsp;</h1>
        </div>
    </div>
<div class="alarme_container welcome">
    <span>Siamo molti felici che tu ti sia unito alla nostra community!🥳😘</span>
    <span>Abbiamo inviato una mail di verifica al tuo indirizzo.</span>
    <span>✉️ {{email}}</span>
    <span>Verifica ora per iniziare a esplorare le varie attività su Cineacca! </span>
    <span>Se non hai ancora ricevuto la mail di verifica, controlla la casella di spam o</span>
    <span>richiedi nuovamente la mail di autenticazione attraverso la dashbord del tuo profilo!</span>
    <span>Grazie per esserti unito a Cineacca!🖤</span>
    
    <span>CINEACCA</span>
</div>


{% endblock content%}