{% load static %}
{% load inlinecss %}
{% inlinecss "email/css/verify_email.css" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="email_wrapper">
        <header>
            <div id="email_header_title" >
                <div>
                    <a href="/">CINEACCA</a>
                </div>  
        </header>
        <div class=email_content>
            <h1 class="email_title">🎥&nbsp;Verificazione dell'account su CINEACCA</h1>
            <span>Ciao, Clicca questo bottone per verificare il tuo account.</span>
            <span>Dopo la verficiazione puoi accettare a tutti i nostri servizi.</span>
            <span>Grazie mille.</span>
            <div><a href="http://127.0.0.1:8000/users/verify/{{secret}}"><button>Verifica l'account</button></a></div>
        </div>
        
</div>

    
</body>

{% endinlinecss %}