
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h4 class="email_title">Verificazione dell'account su CINEACCA</h4>
    <br>
<span>Ciao. Clicca questo bottone per verificare il tuo account.
    <br>
    Grazie mille.
</span>
<br>
<a href="http://127.0.0.1:8000/users/verify/{{secret}}"><button>Verifica l'account</button></a>
</body>

