{% extends "base.html" %}

{% block page_title %}
    404 Not found
{% endblock page_title %}


{% block content %}
<div class="alarme_wrapper">
    <div class="alarme_title">
        <div>
            <h1>&nbsp;❌404 Not found&nbsp;</h1>
        </div>
    </div>
<div class="alarme_container page404">
    <span>La pagina non è trovata..😞</span>
    <span>Potrebbe essere un accesso non valido.</span>
    <span>Puoi tornare a dietro oppure andare a Home.</span>
    
    <span>CINEACCA</span>
</div>


{% endblock content%}