{% extends "base.html" %}

{% block page_title %}
    500 Server Error
{% endblock page_title %}


{% block content %}
<div class="alarme_wrapper">
    <div class="alarme_title">
        <div>
            <h1>&nbsp;❌500 Server Error&nbsp;</h1>
        </div>
    </div>
<div class="alarme_container page404">
    <span>Si è verificato un problema sconosciuto..😞</span>
    <span>Se riprovi o se il problema si ripete, </span>
    <span>contatta <span id="help_mail">cineacca@gmail</span> e ti aiutiamo entro 24 ore.</span>
    <span>Ci scusiamo per gli eventuali disagi causati.</span>
    
    <span>CINEACCA</span>
</div>


{% endblock content%}