{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %} {% endblock page_title %} | Cineacca</title>
</head>
<body>
    <header>
        <a href="/"><h1>CINEACCA</h1></a>
        {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}"><span>Logout</span></a>
        <a href="{% url 'users:user_profile' user.pk %}"><span>My profile</span></a>
        {% else %}
        <a href="{% url 'users:login' %}"><span>Login</span></a>
        {% endif %}
        {% if user.account_type == "student" %}
        <a href="{% url 'movies:upload' %}"><span>Upload movie</span></a>
        {% endif %}
        {% block navigator %}
        <a href="{% url 'movies:list' %}""><span>Movies</span></a>
        <a href="{% url 'users:list' %}"><span>People</span></a>
        {% endblock navigator %}
    </header>

    {% block movie_search_bar %}
        <form method="get" action="{% url 'movies:search' %}">
            <input {% if keyword %}value="{{keyword}}"{% endif %} name="keyword" type="text" placeholder="Search Movies by title or director" />
            <button>Search</button>
        </form>
    {% endblock movie_search_bar %}

    {% block people_search_bar %}
    <form method="get" action="{% url 'users:search' %}">
        <input {% if keyword %}value="{{keyword}}"{% endif %} name="keyword" type="text" placeholder="Search a Person by first name or last name" />
        <button>Search</button>
    </form>
    {% endblock people_search_bar %}

    {% block content %}
    {% endblock content %}
</body>
</html>