<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %} {% endblock page_title %} | Cineacca</title>
</head>
<body>
    <header>
        <a href="/"><h1>CINEACCA</h1></a>
        {% block navigator %}
            <span>Movies</span>
            <a href="{% url 'users:list' %}"><span>People</span></a>
        {% endblock navigator %}
        {% block search_bar %}
            <form method="get" action="{% url 'movies:search' %}">
                <input {% if keyword %}value="{{keyword}}"{% endif %} name="keyword" type="text" placeholder="Search Movies by title or director" />
                <button>Search</button>
            </form>
        {% endblock search_bar %}
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>