{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}

<div id="today-movies">
    <div id="today-movies_title">
        <h1>&nbsp;I FILM DEL GIORNO&nbsp;&nbsp;&nbsp;</h1>
    </div>
    <div class="today-movies_content">
        <h1>Il titolo del film</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div>
            <i class="fas fa-play"></i>
            <span>Riproduci ora</span>
        </div>
    </div>
</div>


<div id="new-movies">
    <div id="new-movies_title">
        <div>
            <h1>&nbsp;I NUOVI FILM&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <span><a href="{% url 'movies:list' %}">Scopri di più <i class="fas fa-sign-in-alt"></i></a></span>  
    </div>

    <div id="new-movies_grid">
        {% for movie in movies %}
            {% include "./mixins/movies/movie-card.html" with type="movie" %}
        {% endfor %}
    </div>
</div>

{% endblock content%}