{% extends "base.html" %}

{% block page_title %}
    Cambiamento del password
{% endblock page_title %}


{% block content %}
<div id="change-password_wrapper">
    <div id="change-password_title">
        <div>
            <h1>&nbsp;Cambiamento del password&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Il modulo per cambiare il tuo password</p>
    </div>
    <form method="post" class="change-password_form">
        {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span>{{error}}</span>
                {% endfor %}
            {% endif %}
            {% for field in form  %}
                    <div class="change-password_form_field">
                        <div class="change-password_form_label">{{field.label}}</div>
                        {{field}}
                        {% if field.errors %}
                        {% for error in field.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="change-password_submit">
                    <button>Cambia il password</button>
                </div>
                
    </form>
    <div id="change-password_advice">
        <i class="far fa-lightbulb"></i> consiglio
    </div>
    <div id="change-password_text">
        <ul>
            <li>La tua password non può essere troppo simile alle altre tue informazioni personali.</li>
            <li>La tua password deve contenere almeno 8 caratteri.</li>
            <li>La tua password non può essere una password comunemente usata.</li>
            <li>La tua password non può essere interamente numerica.</li>
        </ul>
    </div>
</div>

{% endblock content %}