{% extends "base.html" %}

{% block page_title %}
    Rimuovere l'account
{% endblock page_title %}


{% block content %}
<div id="delete-account_wrapper">
    <div id="delete-account_title">
        <div>
            <h1>&nbsp;Rimuovere l'account&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Controlla il tuo consenso per eliminare il tuo account <br>e inserisci la tua password</p>
    </div>
    <form method="post" class="delete-account_form">
        <div id="delete-account_advice">
            <i class="fas fa-exclamation-triangle"></i> Attenzione
        </div>
        <div id="delete-account_text">
            <p>Se elimini il tuo account, si perde tutte le data incluso le tue informazioni, dei film che hai caicato, dei review che hai scritto e tutte le tue attività su Cineacca e non si può restaurarle.<br>
                Se l'hai capito bene e sicuramente vuoi fare la secessione, segli checkbox ed inserisci il password. </p>
        </div>
        {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {% include "../mixins/nonfield_error.html" %}
                {% endfor %}
            {% endif %}
            {% for field in form  %}
                        <div class="delete-account_form_field">
                            <div class="delete-account_form_label">{{field.label}}</div>
                            {{field}}
                            {% if field.errors %}
                            {% for error in field.errors %}
                                {% include "../mixins/field_error.html" %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
            <div class="delete-account_submit">
                <button>Rimuovere l'account</button>
            </div>
            <span class="last-caution">
                <i class="fas fa-exclamation-triangle"></i> Clickando questo bottone, il tuo account si elimina subito.</span>
    </form>
</div>
{% endblock content %}