{% extends "base.html" %}

{% block page_title %}
    Login
{% endblock page_title %}


{% block movie_search_bar %}
{% endblock movie_search_bar %}


{% block people_search_bar %}
{% endblock people_search_bar %}

{% block content %}

    <form method="post">
        {% csrf_token %}
            {{form.as_p}}
            <button>Login</button>
    </form>

    <div>
        <span>Haven't you the account yet?</span>
        <a href="{% url 'users:signup' %}"><span>Sign up</span></a>
    </div>
    
{% endblock content%}