{% extends "base.html" %}

{% block page_title %}
    Join
{% endblock page_title %}


{% block content %}
<div id="signup_wrapper">
    <div id="signup_title">
        <div>
            <h1>&nbsp;CREARE UN ACCOUNT&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Si prega di compilare il seguente modulo per iscriversi</p>
    </div>
    <div class="signup_form">
        <form method="post" action="{% url 'users:public_signup' %}">
            {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {% include "../mixins/nonfield_error.html" %}
                    {% endfor %}
                {% endif %}
                {% for field in form  %}
                    <div class="signup_form_field">
                        <div class="signup_form_label">{{field.label}}</div>
                        {{field}}
                        {% if field.errors %}
                        {% for error in field.errors %}
                            {% include "../mixins/field_error.html" %}
                        {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="signup_submit">
                    <button>Join</button>
                </div>
        </form> 
    </div>   
</div>
    
{% endblock content%}