{% extends "base.html" %}

{% block page_title %}
    Forgot Password
{% endblock page_title %}




{% block content %}
<div id="reset-password_wrapper">
    <div id="reset-password_title">
        <div>
            <h1>&nbsp;RIMUOVERE L'ACCOUNT&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Inserisci il tuo password per rimuovere l'account</p>
    </div>
    <form method="post" class="reset-password_form">
        {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span>{{error}}</span>
                {% endfor %}
            {% endif %}
            {% for field in form  %}
                        <div class="reset-password_form_field">
                            <div class="reset-password_form_label">{{field.label}}</div>
                            {{field}}
                            {% if field.errors %}
                            {% for error in field.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
            <div class="reset-password_submit">
                <button>Manda l'e-mail <br>per verificare</button>
            </div>
    </form>
</div>
{% endblock content %}