{% extends "base.html" %}

{% block page_title %}
    Impostare la password
{% endblock page_title %}


{% block content %}
<div class="alarme_wrapper">
    <div class="alarme_title">
        <div>
            <h1>&nbsp;🔑La password è impostata!&nbsp;</h1>
        </div>
    </div>
<div class="alarme_container">
    <span>La tua password è impostata nuovamente!🔐</span>
    <span>Ora fai login con la tua nuova password.</span>
    <span>Grazie.🖤</span>
    
    <span>CINEACCA</span>
</div>
{% endblock content %}