{% extends "base.html" %}

{% block page_title %}
    Impostare la password
{% endblock page_title %}


{% block content %}
<div class="alarme_wrapper">
    <div class="alarme_title">
        <div>
            <h1>&nbsp;🔑Impostare la nuova password&nbsp;</h1>
        </div>
    </div>
<div class="alarme_container">
    <span>Abbiamo inviato una mail di verifica al tuo indirizzo.✉️</span>
    <span>Verifica ora per reimpostare la password</span>
    <span>Se non hai ancora ricevuto la mail di verifica,</span>
    <span>controlla la casella di spam o richiedila di nuovo.</span>
    <span>Grazie!🖤</span>
    
    <span>CINEACCA</span>
</div>
{% endblock content %}