{% extends "base.html" %}

{% block page_title %}
    Join
{% endblock page_title %}

{% block navigator %}
{% endblock navigator %} 

{% block usermenu %}
{% endblock usermenu %} 


{% block content %}

<div id="signup_wrapper">
    <div id="signup_title">
        <div>
            <h1>&nbsp;JOIN&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Seleziona il tipo di account </p>    
    </div>
   
    <div id="signup_type">
        <a href="{% url 'users:student_signup' %}"><div><i class="fas fa-user-graduate"></i> Studente</div></a>
        <a href="{% url 'users:public_signup' %}"><div><i class="fas fa-couch"></i> Pubblico</div></a>
    </div>
    <div id="signup_advice">
        <i class="far fa-lightbulb"></i> Consiglio
    </div>
    <div id="signup_text">
        <p>Con l'account di studente, oltre alla possibilità di accedere a tutti i nostri contenuti, avrai la possibilità di inserire i tuoi lavori all'interno del nostro catalogo, inoltre la tua "Namecard" sarà visibile nella lista degli altri studenti iscritti al sito. 
            Con l'account pubblico non potrai caricare tuoi lavori ma sarai libero di vedere e valutare i film e i videi presenti nel sito.</p>
    </div>
</div>



{% endblock content%}