{% extends "base.html" %}

{% block page_title %}
    Peolple
{% endblock page_title %}


{% block movie_search_bar %}
{% endblock movie_search_bar %}


{% block content %}
    <h2>Gli studenti</h2>
    <h4>i creatori ed attori studenteschi</h4>
    <ul>
    {% for student in students %}
        <li>
            <a href="{% url 'users:student_profile' student.pk %}"><div>{{ student.first_name }} {{ student.last_name }} </div></a>
            <div>@{{ user.school }}</div>
        </li>
    {% endfor %}  
    </ul>
    <div>
        <div>
            {% if start_index != 0 %}
                <a href="?page={{start_index}}">previous</a>
            {% endif %}
        </div>
        <div>
            
                {% for page in page_range %}
                    <span><a href="?page={{page}}">{{page}}</a></span>
                {% endfor %}
            
        </div>
        <div>
            {% if next_index < max_index %}
                <a href="?page={{next_index}}">next</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
