{% extends "base.html" %}

{% block page_title %}
    Studenti
{% endblock page_title %}




{% block content %}
    <div id="student-list_title">
        <h1>&nbsp;STUDENTI&nbsp;&nbsp;&nbsp;</h1>
    </div>

    <p class="menu_description">Ecco i futuri del cinema italiano, e trovate i vostri membri di truppe</p>

    
    <div class="search_bar">
        <form method="get" action="{% url 'users:search' %}">
            <input {% if keyword %}value="{{keyword}}"{% endif %} name="keyword" type="text" required placeholder="Cerca un/una artista con il nome o cognome" />
            <button>Cerca!</button>
        </form>
    </div>
    
    <div id="student_filter-by">
        <div class="filter-box">
            <a href="?filter_by=1&sort={{ sort }}"><div><i class="fas fa-bullhorn ico_direction"></i> regia</div></a>
            <a href="?filter_by=7&sort={{ sort }}"><div><i class="fas fa-microphone-alt ico_audio"></i> audio</div></a>
            
        </div>
        <div class="filter-box">
            <a href="?filter_by=2&sort={{ sort }}"><div><i class="fas fa-pen-nib ico_screenplay"></i></i> sceneggiatura</div></a>
            <a href="?filter_by=8&sort={{ sort }}"><div><i class="fas fa-palette ico_art-direction"></i> scenografia</div>
        </div>
        <div class="filter-box">
            <a href="?filter_by=3&sort={{ sort }}"><div><i class="far fa-smile-wink ico_acting"></i> recitazione</div></a>
            <a href="?filter_by=9&sort={{ sort }}"><div><i class="fas fa-mask ico_costume"></i> costume</div></a>
        </div>
        <div class="filter-box">
            <a href="?filter_by=4&sort={{ sort }}"><div><i class="fas fa-video ico_photograph"></i> fotografia</i></div></a>
            <a href="?filter_by=10&sort={{ sort }}"><div><i class="fas fa-magic ico_makeup"></i> truccatura</div></a>
        </div>
        <div class="filter-box">
            <a href="?filter_by=5&sort={{ sort }}"><div><i class="fas fa-cut ico_editing"></i> montaggio</div></a>
            <a href="?filter_by=11&sort={{ sort }}"><div><i class="fas fa-music ico_music"></i>  musica</div></a>
        </div>
        <div class="filter-box">
            <a href="?filter_by=6&sort={{ sort }}"> <div><i class="fas fa-meteor ico_VFX"></i> VFX</div></a>
            <a href="?filter_by=13&sort={{ sort }}"> <div><i class="fas fa-paw"></i> animazione</div></a>
        </div>
        <div class="filter-box">
            <a href="?filter_by=12&sort={{ sort }}"> <div><i class="fas fa-scroll"></i></i> segretaria di edizione</div></a>
        </div>
    </div>
    
    <div id="student_sort-by">
        <a href="?sort_by=az&filter_by={{ filter_by }}">
            <span>
                <i class="fas fa-sort-alpha-down"></i>   A-Z
            </span>
        </a>
        <a href="?sort_by=za&filter_by={{ filter_by }}">
            <span>
                <i class="fas fa-sort-alpha-down-alt"></i>   Z-A
            </span>
        </a>
        
    </div>
    <div id="student-list_grid">
        {% for student in students %}
            {% include "../mixins/users/student-card.html"%}
        {% endfor %}  
    </div>
    

    <div class="paginator">
        <div>
            {% if start_index != 0 %}
                <span><a href="?filter_by={{ filter_by }}&sort_by={{ sort }}&page={{start_index}}"><i class="fas fa-chevron-circle-left"></i></a></span>
            {% endif %}
        </div>
        <div>
                {% for page in page_range %}
                    {% if current_page == page %}
                        <div class="current-page"><span>{{page}}</span></div>
                    {% else %}
                        <span><a href="?filter_by={{ filter_by }}&sort_by={{ sort }}&page={{page}}">{{page}}</a></span>
                    {% endif %}
                {% endfor %}
        </div>
        <div>
            {% if next_index < max_index %}
                <span><a href="?filter_by={{ filter_by }}&sort_by={{ sort }}&page={{next_index}}"><i class="fas fa-chevron-circle-right"></i></a></span>
            {% endif %}
        </div>
    </div>
{% endblock content %}
