{% extends "base.html" %}

{% block page_title %}
    Profilo di {{user_obj.first_name}} {{user_obj.last_name}}
{% endblock page_title %}

{% block content %}

<div id="profile_wrapper">
    <div id="profile_title">
        <div>
            <h1>&nbsp;Profilo&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Il profilo di {{user_obj.first_name}} {{user_obj.last_name}}</p>    
    </div>
    <div id="profile_container"
    {% if user_obj.sfondo %}
    style="background-image: linear-gradient(
        to top, 
    rgba(249, 250, 251, 0.6) 20%,
    rgba(249, 250, 251, 1) 100%), 
    url({{user_obj.sfondo.url}});
    "
    {% endif %}
    >
        <div class="profile_container_row">
            {% if user_obj.avatar %}
                <img class="profile_avatar" crossorigin src={{user_obj.avatar.url}}/>
            {% endif %}
             <div id="profile_info">
                <div id="profile_info_firstname">{{user_obj.first_name}}</div>
                <div id="profile_info_lastname">{{user_obj.last_name}}</div>
                <div id="profile_info_email">
                    {{user_obj.email}}
                    {% if user_obj.email_verified == False %}
                        <span><i class="fas fa-exclamation-circle"></i>Email non verificato</span>
                        {% if user_obj.email == request.user.email %}
                        <a href="{% url 'users:send_verify_email' user_obj.pk %}"><span id="email_verify_link"><i class="fas fa-sign-in-alt"></i> Verifica l'indirizzo email</span></a>
                        {% endif %}
                    {% else %}
                        <span><i class="fas fa-check-circle"></i>Email verificato</span>
                {% endif %}
                </div>
                
                <div>{% if user_obj.school %}{{user_obj.school}}{% endif %}</div>
                <div id="profile_works">
                    {% for work in user_obj.works.all %}
                        {% if work.name == "regia" %} <!-- !) {{work}}는 되는데 .name 해줘야하는 이유? -->
                            <i class="fas fa-bullhorn ico_direction"></i>
                        {% elif work.name == "sceneggiatura" %}
                            <i class="fas fa-pen-nib ico_screenplay"></i>
                        {% elif work.name == "recitazione" %}
                            <i class="far fa-smile-wink ico_acting"></i>  
                        {% elif work.name == "fotografia" %}
                            <i class="fas fa-video ico_photograph"></i>
                        {% elif work.name == "montaggio" %}
                            <i class="fas fa-cut ico_editing"></i>
                        {% elif work.name == "VFX" %}
                            <i class="fas fa-meteor ico_VFX"></i>
                        {% elif work.name == "animazione" %}
                            <i class="fas fa-paw"></i>
                        {% elif work.name == "audio" %}
                            <i class="fas fa-microphone-alt ico_audio"></i>
                        {% elif work.name == "segretaria di edizione" %}
                            <i class="fas fa-scroll"></i>
                        {% elif work.name == "scenografia" %}
                            <i class="fas fa-palette ico_art-direction"></i>
                        {% elif work.name == "costume" %}
                            <i class="fas fa-mask ico_costume"></i>
                        {% elif work.name == "trucco" %}
                            <i class="fas fa-magic ico_makeup"></i>  
                        {% elif work.name == "musica" %}
                            <i class="fas fa-music ico_music"></i>
                        {% endif %}     
                    {% endfor %}
                </div>
             </div>
        </div> 

        <div class="profile_container_row">
            {% if user_obj.biography != None %}
                <p class="profile_bio">{{user_obj.biography}}</p>
            {% else %}
                <div></div>
            {% endif %}
        </div>
        
     </div>
    
     <div class="profile_menu">
        <a href="{% url 'users:dashboard' user_obj.pk %}"><div class="activity_btn">Dashboard</div></a>
        {%  if user.is_authenticated %}
            {% if user_obj.pk == user.pk %}
                        <a href="{% url 'users:update_profile' %}"><div id="update-profile_btn">Aggiorna il Profilo</div></a>
                        <a href="{% url 'users:change_password' %}"><div id="change-password_btn">Cambia la Password</div></a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}
