.card_link {
  text-decoration: none;
  color: $cineH_black;
  &:hover {
    .movie-card,
    .student-namecard,
    .review_card {
      box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.5s ease-in-out;
    }
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: $cineH_white;
  color: $cineH_black;
  min-height: 15.6rem;
  .movie-card_thumbnail {
    width: 100%;
    height: 12rem;
    background-position: center center;
    background-size: cover;
  }
  .movie-card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info_title {
      margin: 1rem 0rem 0rem;
      font-size: 1.2rem;
      width: 320px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .info_user {
      margin: 0.4rem 0rem;
      font-size: 0.8rem;
    }
    div {
      display: flex;
      font-size: 0.8rem;
      justify-content: flex-start;
      span {
        margin-right: 1rem;
      }
      .info_rating i {
        color: #fac81a;
      }
      .info_like_it i {
        color: #ca5b4c;
      }
    }
  }
}
