{% extends "base.html" %}
{% load l10n %}
{% load static %}

{% block page_title %}
    {{videoart.title}}
{% endblock page_title %}


{% block content %}
<div id="detail_wrapper">


<!--videoart Title-->
<div id="detail_title_container"> 

    <div class="detail_title nowShowing">
        <div>
            <h1>Now Showing. . .&nbsp;</h1>
         </div>
    </div>

    <div class="detail_title movieTitle">
        <h1>  {{videoart.title}}</h1>
    </div>

    <div class="detail_title dir">
        <h1>dir.&nbsp;{{videoart.artist}},&nbsp;&nbsp;&nbsp;&nbsp;{{videoart.year}}
            {% if videoart.team %},&nbsp;&nbsp;&nbsp;&nbsp;{{videoart.team}}{% endif %}
        </h1>
        
    </div>

    <div class="detail_title metadata">
        <h1><i class="fas fa-star"></i>&nbsp;{{videoart.rating | unlocalize}}&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fas fa-heart"></i>&nbsp;{{num_fav_users}}&nbsp;&nbsp;&nbsp;&nbsp;
            {% if videoart.views <= 1 %} 
            {{ videoart.views }} visto 
            {% else %} 
            {{ videoart.views }}&nbsp;&nbsp;visti {% endif %}</h1>
    </div>

</div>
    
<!--videoart Screen-->   
    <video id="videoPlayer" class="video-js vjs-cineacca" crossorigin>
               <source src='{{ videoart.video.url }}' type="video/mp4"></source>

    </video> 
<!--videoart Description--> 
    <div class="detail_description">
        <div class="description__title">
        </div>  
        <div class="description__content">
        </div>
        <a href="{% url 'users:user_profile' videoart.user.pk %}">
        <div class="description__user">
                <img class="user_avatar_small" 
                    {% if videoart.user.avatar  %} 
                        crossorigin src={{videoart.user.avatar.url}}
                    {% endif %}/>
                <div class="descriptrion__user__name">
                    <div>un video distribuito da&nbsp;&nbsp;</div>
                    <div>{{videoart.user}}</div>
                </div>
                    
            </div>
        </a>
    </div>
<!--videoart Information--> 
    <div class="detail_movieInfo" data-obj="videoart" data-thumb="{{videoart.thumbnail.url}}">
        <div class="movieInfo__row">
            <div class="info__moviePoster">
                <img crossorigin="anonymous" class="moviePoster_lg" src="{{videoart.poster.url}}" />
            </div>
            <div class="info__staff videoarts_card">
                <h1>{{videoart.title}}&nbsp;({{videoart.year}})</h1>
                <ul>
                    <li><span>{{videoart.artist}}</span></li>
                    <li class="videoart_card__description"><span>{{videoart.description}}</span></li>
                </ul>
            </div>
        </div>
        <div class="movieInfo__row">
        {% if user.is_authenticated %}
            {% if fav_exists %}
                    <div class="movie_like_it" data-state="filled">
                        <button class="movie_like_it_btn"><i class="fas fa-heart"></i>&nbsp;&nbsp;mi piace</span></button> 
                    </div>
            {% else %}
                    <div class="movie_like_it" data-state="empty">
                        <button class="movie_like_it_btn"><i class="far fa-heart"></i>&nbsp;&nbsp;mi piace</span></button> 
                    </div>
            {% endif  %}
        {% endif %}
                    <div class="copy_link">
                        <button class="copy_link_btn"><i class="fas fa-link"></i>&nbsp;&nbsp;condividi</button>
                    </div>
        </div>
    </div>

<!--videoart Update/Delete Btn--> 
    {% if videoart.user == user %}
        <div class="movie__modify videoart__modify">
            <a href="{% url 'videoarts:update' videoart.pk %}"><div>
                <i class="fas fa-edit"></i>&nbsp;&nbsp;Aggiorna</div></a>
            <a href="{% url 'videoarts:delete' videoart.pk %}"><div>
                <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Elimina</div></a>
        </div>

    {% endif %}

<!--Review Write Form-->
    <div class="reviewForm_container" data-pk="{{ videoart.pk }}">
        
        {% if user.is_authenticated %}
            {% if user.email_verified %}
                    {% include "../mixins/reviews/review_form.html" with type="videoart" %}
            {% else %}
                <div class="text_verified_only">🔒Fai la verificazione dell'account per scrivere un review.&nbsp;&nbsp;
                    <a href="{% url 'users:user_profile' user.pk %}">profilo mio<i class="fas fa-sign-in-alt"></i></a></div>
            {% endif %}
        {% else %}
            <div class="text_login_only">🔒Fai login per scrivere un review.&nbsp;&nbsp;
                <a href="/users/login/?next=/videoarts/{{ videoart.pk }}">login<i class="fas fa-sign-in-alt"></i></a></div>        
        {% endif %}
    </div>
    
          
<!--New Review-->

    <div class="review_container">
        <ul id="reviews">
            {% if user.is_authenticated %}
                {% if user.email_verified %}
            <li class="new_review" hidden="true">
                {% include "../mixins/reviews/review_box.html" with type="new_review" %}
<!--New review modify-->
                {% include "../mixins/reviews/modify_form.html" with type="new_review" %}
            </li>
                {% endif %}
            {% endif %}
<!--Review List default 10-->
            {% for review in show_reviews %}

            <li id="{{review.pk}}" class="review">
                {% include "../mixins/reviews/review_box.html" with type="videoart" %}
<!--Review modify-->
                {% include "../mixins/reviews/modify_form.html" %}
            </li>
            {% endfor %}
<!--Review List hidden the others-->
           {% for review in hidden_reviews %}
            <li id="{{review.pk}}" class="review hidden_review" hidden>
                {% include "../mixins/reviews/review_box.html" with type="videoart" %}
<!--Review modify-->
                {% include "../mixins/reviews/modify_form.html" %}
            </li>
            {% endfor %}
        </ul>
    </div>
<!--show all reveiw-->
    {% if num_reviews != 0 and num_hidden_reviews != 0 %}
        <div id="show_all_reviews">
            <button id="show_all_reviews_btn"><i class="far fa-caret-square-down"></i>&nbsp;&nbsp;&nbsp;Vedi anche gli altri &nbsp;{{ num_hidden_reviews }}&nbsp; review...</button>
        </div>
    {% endif %}
</div>
    
<script src="{% static 'js/videoarts/createVideoArtReview.js' %}"></script>
<script src="{% static 'js/videoarts/modifyVideoArtReview.js' %}"></script>
<script src="{% static 'js/videoarts/deleteVideoArtReview.js' %}"></script>
<script src="{% static 'js/movies/videoPlayer.js' %}"></script>
<script src="{% static 'js/videoarts/videoArtViewCount.js' %}"></script>
<script src="{% static 'js/movies/ratingStars.js' %}"></script>
<script src="{% static 'js/movies/hideAndShowReview.js' %}"></script>
<script src="{% static 'js/movies/switchFavMovie.js' %}"></script>
<script src="{% static 'js/movies/copyUrl.js' %}"></script>
<script src="{% static 'js/reviews/switchFavReview.js' %}"></script>
{% endblock content %}

