{% extends "base.html" %}

{% block page_title %}
    Eliminazione del video
{% endblock page_title %}


{% block content %}
<div id="delete-movie_wrapper">
    <div id="delete-movie_title">
        <div>
            <h1>&nbsp;Eliminazione del video&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <p class="menu_description">Inserisci la tua password per eliminare il video</p>
    </div>
    <form method="post" class="delete-movie_form">
        <div id="delete-movie_advice">
            <i class="fas fa-exclamation-triangle"></i> Attenzione
        </div>
        <div id="delete-movie_text">
            <p>Eliminando questo video, l'operazione sarà irreversibile.
                Sei sicuro di voler procedere?</p>
        </div>
        
        {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  {% include "../mixins/nonfield_error.html" %}
                {% endfor %}
            {% endif %}
            {% for field in form  %}
                        <div class="delete-movie_form_field">
                            <div class="delete-movie_form_label">{{field.label}}</div>
                            {{field}}
                            {% if field.errors %}
                            {% for error in field.errors %}
                                {% include "../mixins/field_error.html" %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
            <div class="delete-movie_submit">
                <button>Elimina questo video</button>
            </div>
            <span class="last-caution">
                <i class="fas fa-exclamation-triangle"></i>Cliccando qui, il tuo video verrà eliminato immediatamente</span>
    </form>
</div>

{% endblock content %}