{% extends "base.html" %}

{% block page_title %}
    Video Art
{% endblock page_title %}

{% block content %}

    <div id="movie-list_title">
        <h1>&nbsp;VIDEO ART&nbsp;&nbsp;&nbsp;</h1>
    </div>

    <p class="menu_description">I video arts</p>

    <div class="search_bar">
        <form method="get" action="{% url 'videoarts:search' %}">
            <input {% if keyword %} value="{{keyword}}"{% endif %} required name="keyword" type="text" placeholder="Cerca dei videi con il titolo o un/un' artista." />
            <button>Cerca!</button>
        </form>
    </div>
    <div id="movie_sort-by">
        <a href="?sort_by=rating"><span><i class="fas fa-star"></i> più valutati</span></a>
        <a href="?sort_by=date"><span><i class="fab fa-hotjar"></i> più recente</span></a>
        <a href="?sort_by=views"><span><i class="fas fa-eye"></i> più visti</span></a>
        <a href="?sort_by=love"><span><i class="fas fa-heart"></i> più preferiti</span></a>
    </div>

    <div id="movie-list_grid">
        {% for videoart in videoarts %}
            {% include "../mixins/movies/movie-card.html" with type="videoart" %}
        {% endfor %}
        </div>
        {% if sort %} <!-- if else 쓸 필요가 없음. sort 없어면 None으로 나오기 때문에 괜춘아 -->
            <div class="paginator">
                <div>
                    {% if start_index != 0 %}
                        <span><a href="?sort_by={{ sort }}&page={{start_index}}"><i class="fas fa-chevron-circle-left"></i></a></span>
                    {% endif %}
                </div>
                <div>
                        {% for page in page_range %}
                            {% if current_page == page %}
                                <div class="current-page"><span>{{page}}</span></div>
                            {% else %}
                                <span><a href="?sort_by={{ sort }}&page={{page}}">{{page}}</a></span>
                            {% endif %}
                        {% endfor %}
                </div>
                <div>
                    {% if next_index < max_index %}
                        <span><a href="?sort_by={{ sort }}&page={{next_index}}"><i class="fas fa-chevron-circle-right"></i></a></span>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="paginator">
                <div>
                    {% if start_index != 0 %}
                        <span><a href="?page={{start_index}}"><i class="fas fa-chevron-circle-left"></i></a></span>
                    {% endif %}
                </div>
                <div>
                        {% for page in page_range %}
                            {% if current_page == page %}
                                <div class="current-page"><span>{{page}}</span></div>
                            {% else %}
                                <span><a href="?page={{page}}">{{page}}</a></span>
                            {% endif %}
                        {% endfor %}
                </div>
                <div>
                    {% if next_index < max_index %}
                        <span><a href="?page={{next_index}}"><i class="fas fa-chevron-circle-right"></i></a></span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
{% endblock content%}